.checkout__image-holder { max-width: 30%; }

.checkout__items
{
    max-height: 300px;
    overflow-y: scroll;
    position: relative;
}

.checkout__holder
{
    position: relative;
    margin: auto;
    max-width: 750px;
}

/* .checkout__holder::after */
.checkout__separator
{
    /* content: ""; */
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
    height: 5px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

.checkout__item 
{ 
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    margin-bottom: 20px;
}

.checkout__title
{
    font-size: 25px;
}

.checkout__button
{
    background-color: orange;
    width: 100%;
}

.checkout-item__details
{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.checkout__remove-item
{
    background-color: red;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 10px;
    margin-right: 10px;
}